*{
  margin: 0;
}
body{
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}
#navbar{
  background-color: lightseagreen;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &-logo{
    .links{
      text-decoration: none;
      color: black;
      p{
        font-size: 20px;
        font-weight: 600;
        cursor: pointer;
      }
    }
  }
  &-links{
    margin-right: 60px;
    .links{
      text-decoration: none;
      color: white;
      margin: 0 10px;
    }
  }
}

.form-container{
  display: flex;
  flex-flow: column;
  justify-content: center;
  margin: 80px auto;
  width: 60%;
  #login-form{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 20px;
    align-self: center;
    justify-content: center;
    &-header{
      padding: 10px;
      text-align: center;
      background-color: lightseagreen;
    }
    &-submit{
      background-color: rgba(32, 178, 171, 0.5);
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }
    input{
      padding: 8px;
      margin: 10px 0;
      border: 1px solid rgba(0, 0, 0, 0.479);
      border-radius: 5px;
    }
    input:focus{
      outline: none;
    }
  }
  #signup-form{
    display: flex;
    flex-flow: column;
    border: 1px solid black;
    padding: 20px;
    align-self: center;
    justify-content: center;
    &-header{
      padding: 10px;
      text-align: center;
      background-color: salmon;
    }
    &-submit{
      background-color: rgba(249, 126, 112, 0.5);
      font-size: 15px;
      font-weight: 600;
      cursor: pointer;
    }
    input{
      padding: 8px;
      border-radius: 5px;
      margin: 10px 0;
      border: 1px solid rgba(0, 0, 0, 0.479);
    }
    input:focus{
      outline: none;
    }
  }
  label{
    margin-top: 15px;
  }
}